<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pod Project</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <link rel="background-image" href="{{ url_for('static', filename='bg-rivet.jpg') }}" />
</head>

<body>
    <div class="container" style="background-image: url();">
        <h1>Pod Project</h1>

        <div>
            <img src="static/images/pod.png" alt="Pods">
        </div>

        <div id="log" class="log-border">
            {{ message }} <!-- This is where the logs will be displayed -->
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-success" onclick="window.location.href='/start'">Start</button>
            <button type="button" class="btn btn-primary" onclick="window.location.href='/test'">Test</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href='/stop'">Stop</button>
        </div>
    </div>
</body>

</html>